@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  color: #111;
}
button {
  background-color: burlywood;
  padding: 5px 10px;
  flex: content;
  align-self: center;
}

h1 {
  flex: content;
  align-self: center;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
